<!doctype html>
<html lang="en" xmlns="http://thymeleaf.org">

<head>
    <title>Funciones</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

    <div class="container">
        <h3>Listado de todas las Funciones Disponibles</h3>
        <div th:each="f : ${funciones}">
            <br>
            <div class="xs-1-12">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text" th:text="'id Funcion: '+${f.id}"></p>
                        <p class="card-text" th:text="${f.peliculaid.titulo}"></p>
                        <p class="card-text" th:text="${f.tipoid.descripcion}"></p>
                        <p class="card-text" th:text="${f.tipoid.precio}"></p>
                        <p class="card-text" th:text="${f.fecha}"></p>
                        <p class="card-text" th:text="${f.salaid.nombreSala}"></p>
                    </div>
                </div>
            </div>
            <br>
        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</body>

</html>